/* #region COMMON */

:root {
    --bk-primary: #141922;
    --bk-secondary: #282828;
    --bk-dark: black;
    --light: #5A5A5A;
    --primary_txt-color: white;
    --secondary_txt-color: #A3A3A3;
    --success-color: #ADFF2F;
    --lighter: #C1C1C1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--bk-primary);
}

img {
    max-width: 100%;
    border-radius: 5px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--secondary_txt-color);
}


/* #endregion COMMON */


/* #region UTILITY */

.w_100 {
    width: 100%;
}

.m_top {
    margin-top: 1rem;
}

.m_l {
    margin-left: 1rem;
}

.m_r-icon {
    margin-right: 0.5rem;
}

.p_t-b {
    padding: 0.25rem 0;
}

.txt_r {
    text-align: right;
}

.txt_c {
    text-align: center;
}

.txt_lighter {
    color: var(--secondary_txt-color);
}

.txt_white {
    color: white;
}

.d_flex {
    display: flex;
}

.subtitle {
    font-size: 10px;
    font-weight: bold;
    margin-top: 0.5rem;
    color: var(--secondary_txt-color);
}

.small_sz {
    display: none;
}


/* #endregion UTILITY */


/* #region CONTAINER */


/* -----> Mobile_version <----- */

.container {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}


/* #region ASIDE */

aside li {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.left_bar {
    width: 35px;
    height: calc(100vh - 80px);
    background-color: var(--bk-dark);
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

.logo {
    margin-bottom: 1rem;
}

header.top_left_bar .logo img:first-child {
    width: 25px;
    max-height: 60px;
    display: inherit;
    margin: 0.25rem auto;
}

.home_action {
    margin-top: 0.5rem;
}

.home_action img,
.user img {
    width: 20px;
    height: 20px;
}

.playlist h3 {
    font-size: 14px;
}

.playlist ul {
    max-height: 300px;
    overflow: auto;
}

.top_left_bar .playlist ul li:first-child {
    margin-bottom: 1rem;
}

.top_left_bar .playlist li {
    align-items: center;
    line-height: 1.5rem;
}

.top_left_bar .playlist i {
    background-color: var(--secondary_txt-color);
    color: var(--bk-dark);
}

.top_left_bar .playlist i {
    padding: 0.5rem;
}

.footer_left_bar {
    flex-direction: column;
    align-items: center;
}

.footer_left_bar a {
    font-size: 12px;
    font-weight: bold;
    margin-left: 0.5rem;
}

.install {
    margin-bottom: 0.5rem;
}

.install img {
    width: 15px;
}

.footer_left_bar hr {
    background-color: var(--light);
    color: var(--light);
    height: 1px;
    border: none;
}

.user {
    margin-bottom: 0.5rem;
    margin-top: 0.75rem;
    align-items: center;
}

.user img {
    background-color: var(--secondary_txt-color);
    border-radius: 50%;
}


/* #endregion ASIDE */


/* #region MAIN */

.site_main {
    width: calc(100vw - 35px);
    height: calc(100vh - 80px);
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.home_view,
.top_bar {
    width: 100%;
}

.top_bar {
    height: 65px;
    background-color: rgba(0, 0, 0, 0.4);
}

.btn_upgrade {
    border: 1px solid white;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 8px;
    padding: 7px 20px;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.home_view {
    height: calc(100% - 65px);
    overflow: auto;
}

nav.navbar ul {
    flex-wrap: wrap;
    justify-content: center;
}

nav.navbar ul li {
    padding: 7px;
}

nav.navbar ul li a {
    color: var(--secondary_txt-color);
    font-weight: bold;
    font-size: 12px;
}

.section_song {
    padding: 1rem;
}

.section_song:nth-child(4) img {
    border-radius: 50%;
}

.section_song span.subtitle {
    padding-top: 1rem;
}

.section_song h2 {
    font-size: 1rem;
}

aside .row,
main .row {
    overflow: auto;
    padding: 0.5rem 0;
}

.cards ul {
    column-gap: 0.75rem;
}

.card {
    width: 200px;
    height: auto;
    min-width: 200px;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.card h3 {
    font-size: 0.75rem;
    color: white;
    margin-top: 1rem;
}


/* #endregion MAIN */


/* #endregion CONTAINER */


/* #region FOOTER */

.site_footer {
    width: 100%;
    height: 80px;
    background-color: var(--bk-secondary);
    padding: 0.75rem;
    z-index: 10;
}

footer .row {
    height: 100%;
    justify-content: space-between;
    column-gap: 15px;
}

.footer_sx,
.footer_dx {
    flex-grow: 1;
}

.footer_main {
    flex-grow: 3;
}

.footer_sx,
.footer_main,
.footer_dx {
    width: auto;
    height: 100%;
    align-items: center;
    column-gap: 0.5rem;
}

.footer_sx img {
    width: 30px;
}

footer .footer_sx h3 {
    font-size: 14px;
}

footer .footer_sx .subtitle {
    margin: 0;
    font-size: 12px;
}

.footer_sx .icon_action i,
.footer_sx .title_song i {
    color: var(--secondary_txt-color);
}

.title_song {
    flex-flow: column;
}

.footer_sx .icon_action i,
.footer_sx .title_song i,
.footer_dx i {
    font-size: small;
}

.footer_main {
    flex-direction: column;
    justify-content: center;
}

.song_buttons i:nth-child(3) {
    font-size: 1.5rem;
}

.forward_sx,
.forward_dx {
    padding: 0 1.25rem;
}

.forward_sx {
    transform: rotate(180deg);
}

.song_length {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.song_length>div {
    display: inline-block;
}

.lengh {
    width: 80%;
    height: auto;
    padding: 1rem 0;
    position: relative;
}

.full_lengh {
    width: 100%;
    height: 2px;
    background-color: var(--light);
    position: absolute;
}

.lengh_15 {
    width: 15%;
    height: 2px;
    background-color: var(--lighter);
    position: absolute;
}

.song_length i,
.footer_dx .lengh i {
    font-size: 8px;
    position: absolute;
    left: 15%;
    transform: translate(0, -3px);
}

.song_length div:first-child,
.song_length div:last-child {
    font-size: 10px;
    font-weight: bold;
    padding: 0 0.5rem;
}

.footer_dx {
    justify-content: end;
}

.footer_dx .lengh {
    width: 50px;
}


/* #endregion FOOTER */


/* #region Effect */

.dropdown .dropdown-content {
    display: none;
}

.footer_sx .dropdown:hover .dropdown-content {
    display: inline-block;
    position: absolute;
    bottom: 4rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50% 0.5rem;
    box-shadow: 0px 0px 20px 0px rgba(122, 122, 122, 0.233);
    padding: 0.75rem;
    text-align: center;
}


/* #endregion Effect */


/* #region MediaQuery */

@media screen and (min-width: 568px) {
    .small_sz {
        display: inline-block;
    }
    /* Aside */
    .left_bar {
        width: 150px;
        padding: 1rem 1rem 0;
    }
    .home_action a {
        margin-left: 0.75rem;
    }
    header.top_left_bar .logo img:first-child {
        display: none;
    }
    header.top_left_bar .logo img:last-child {
        width: 85%;
        margin-bottom: 0.5rem;
    }
    aside li {
        justify-content: left;
        align-items: center;
        font-size: 12px;
    }
    .footer_left_bar {
        align-items: flex-start;
    }
    /* Main */
    .site_main {
        width: calc(100vw - 150px);
    }
    nav.navbar ul li a {
        font-size: 14px;
    }
    /* Footer */
    footer .title_song {
        padding-right: 1rem;
    }
    .icon_action.small_sz {
        display: none;
    }
}

@media screen and (min-width: 568px) and (min-width: 768px) {
    /* Footer */
    footer .title_song .dropdown-content,
    .icon_action.small_sz {
        display: inline-block;
    }
    .footer_sx .dropdown i {
        display: none;
    }
}


/* #endregion MediaQuery */